.chat-container,.members {
  transition: height 0.5s ease, opacity 1s ease;
  opacity: 1;
  float: right;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 18.5rem;
  max-width: 20rem;
  height: 35rem;
  background-color: rgb(229 167 148 / 76%);
  margin-top: 2rem;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1.5px solid rgb(176, 176, 176);
  z-index: 999;
}

.hidden{
  height: 0;
  opacity: 0;
  display: none;
}

.chat-input{
  padding-left: 5px;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 1rem;
  color: white
}

.chat-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:0.5rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  border-bottom:1px solid white;
}

.msghistory::-webkit-scrollbar, .members::-webkit-scrollbar {
  display: none;
}

.msghistory, .members {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-msg input::placeholder{
  color: rgb(220, 220, 220);
}
.chat-msg input:focus{
  outline: none;
}