.chat-container {
  transition: height 1s ease, opacity 1s ease;
  height: auto;
  opacity: 1;
  float: right;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 18.5rem;
  max-width: 20rem;
  min-height: 35rem;
  max-height: 40rem;
  background-color: rgb(229 167 148 / 76%);
  margin-top: 2rem;
  justify-content: flex-end;
  border-radius: 1rem;
  border: 1.5px solid rgb(176, 176, 176);
  z-index: 999;
}

.chat-container.hidden {
  height: 0;
  opacity: 0;
  display: none;
}

.msghistory::-webkit-scrollbar {
  display: none;
}
.msghistory {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-msg input::placeholder{
  color: rgb(220, 220, 220);
}
.chat-msg input:focus{
  outline: none;
}