.msg{
    border-radius: 2rem;
    width: 13rem;
    color: white;
    padding: 5px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    /* -ms-word-break: break-all;
    -ms-word-break: keep-all; */
}

.keep-all-words{
    word-break: keep-all;
}

.break-long-words{
    word-break: break-all;
}