.msg{
    border-radius: 2rem;
    width: 13rem;
    background-color: rgb(25 24 24 / 70%);
    color: white;
    padding: 5px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    -ms-word-break: break-all;
    word-break: break-all;
}