.tblayout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

table,
td {
  border: 2px solid rgb(251 220 0);
}

td {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

.cross,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  font-weight: bold;
  color: rgb(251 220 0);
}

.res {
  margin-top: 1rem;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.scoreX,.scoreO{
  font-size: xx-large;
  font-weight: 700;
  color: red;
}

.scoreO{
  color: #9ee00f;
}

#score{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 0.7rem;
  padding: 0rem 1rem;
}

@media screen and (max-height:700px) {
  .tb{
    margin-top: 5rem;
  }
}

@media screen and (max-width:400px) {
  /* td{
    height: 4rem;
    width: 4rem;
  } */
  .res input[type='submit'] {
  background-color: rgb(251 220 0);
  border: 2px solid rgb(251 220 0);
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
  border-radius: 25%/50%;
  padding: 0.5rem;
}
.circle,.cross{
  font-size: 200%;
}
}
