#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}
#ig {
  position: absolute;
}

#complete {
  position: absolute;
  border-radius: 25%/50%;
  background-color:#075664;
  height:6rem;
  padding:1rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width:500px) {
  #complete {
    margin-top: 5rem;
    width: 20rem;
    border-radius: 25%/60%;
  }
}
@media screen and (max-width:500px) {
  #complete {
    width: 14rem;
    border-radius: 25%/50%;
  }

}