body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ad7aa2;
  /* height: 100vh; */
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table,
td {
  border: 2px solid rgb(251 220 0);
}

td {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.tb {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cross,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  color: rgb(251 220 0);
}

.res {
  margin-top: 1rem;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='submit'] {
  margin: 0px 0.5rem;
  background-color: rgb(251 220 0);
  border: 2px solid rgb(251 220 0);
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  border-radius: 25%/50%;
}

.winner {
  margin-bottom: 0.2rem;
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(251 220 0);
}

#mantra {
  text-align: center;
  margin-top: -0.5rem;
  color: #bc0b0b;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#note {
  text-align: center;
  margin-top: 30vh;
  color: #bc0b0b;
  font-size: x-large;
  font-weight: 500;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ig {
  position: absolute;
}

#complete {
  position: absolute;
  border-radius: 25%/50%;
  background-color:#075664;
  height:5rem;
  padding:1rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

@media screen and (min-width:500px) {
  #complete {
    margin-top: 5rem;
    width: 20rem;
    border-radius: 25%/60%;
  }
  .tb{
    top: 42%;
  }
}

@media screen and (max-width:500px) {
  .tb {
    top: 45%;
  }

  #note {
    margin: 1rem;
    margin-top: 35vh;
  }

  #complete {
    width: 14rem;
    border-radius: 25%/50%;
  }

}
